@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: "Poppins", serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #000000;
}
h1{
    font-family: "Lora", serif;
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}
li {
    list-style: none;
    cursor: pointer;
}

li a {
    font-family: "Lora", serif;
    text-decoration: none;
    color: inherit; 
}

li:hover a{
    text-decoration: underline 1px solid rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
}

ul{
    display: flex;
    gap:20px;
    align-items:center;
}
.navbar{
    padding:20px;
    display:flex;
    justify-content: space-around;

}
.navbar a{
    text-decoration: none;
    color: white;
}

.button-perso{
    padding:10px 20px;
    border: 1px solid violet;
    border-radius: 20px;    
}

.button-perso:hover {
    background: rgb(255, 255, 255);
    color: #2b2b2b;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.4s ease-in-out;
}


.header{
    background: linear-gradient(#5b4264, #000000);
}

.section1{
    height:30rem;
}

.navbar li a{
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.section1{
    display :flex;
    justify-content: space-between;
}

.gauche{
    width: 50%;
    padding: 30px 30px;
    margin: 50px;
}

.gauche h1{
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    font-family: "Lora", serif;
}

h1 span{
    font-size: 20px;    
}

.gauche p{
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.gauche a{
    text-decoration: none;
    color: white;
}
.droite {
    width: 50%;
    padding: 30px 30px;
    margin: 50px auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.haut{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bas {
    width: 75%;
    gap: 20px;
    text-align: center; 
}

.bas p {
    color: #ffffff;
    font-size: 10px;
}

.cubic{
    background: #ffffff;
    border : 2px solid #ffffff;
    border-radius: 10px;
    padding: 30px 30px;
}

img {
    width: 50%;
    margin: 0 auto; 
}

.gauche-button{
    padding-top:20px;
}

.fa-arrow-down{
    margin-left: 10px;
}